name: Dispatch node-minecraft-assets
on:
  push:
    tags:
      - "*"
jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.NYMPH_AI_DISPATCH_TOKEN }}
          repository: nymph-ai/node-minecraft-assets
          event-type: mcassets-tag
          client-payload: '{"tag": "${{ github.ref_name }}"}'
